[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chaitanyaprabhu
[access "refs/for/refs/*"]
	read = group user/chaitanyaprabhu
	push = group user/chaitanyaprabhu
	label-Code-Review = -2..+2 group user/chaitanyaprabhu
	label-Verified = -1..+1 group user/chaitanyaprabhu
	rebase = group user/chaitanyaprabhu
	removeReviewer = group user/chaitanyaprabhu
	submit = group user/chaitanyaprabhu
[access "refs/heads/*"]
	read = group user/chaitanyaprabhu
	create = group user/chaitanyaprabhu
	push = +force group user/chaitanyaprabhu
	pushMerge = group user/chaitanyaprabhu
[access "refs/tags/*"]
	push = +force group user/chaitanyaprabhu
	pushTag = group user/chaitanyaprabhu
	pushSignedTag = group user/chaitanyaprabhu
